{% extends 'core/base.html' %}
{% load static %}
{% load namify %}

{% block title %}Welcome{% if request.user.is_authenticated %} to {{ request.user.user_name }}{% endif %}{% endblock %}


{% block content %}
<section style="background-color:var(--normalwhite);">
    <div id="homepage">
        <div class="main-container" id="main-container">
            <div class="innerside-container">
            </div>
            <!--<div class="inner-container">
                <p>NGStoreBoy</p>
                <p>your one stop store</p>
                <form method="get" action="{% url 'product_:search_' %}">
                    <div class="search-field">
                        <div class="field">
                            <div class="icon"><i class="fa fa-search"></i></div>
                            <input type="text" class="input" placeholder="Search products brands and categories" name="query">
                            <button class="is-uppercase">SEARCH</button>
                        </div>
                    </div>
                </form>
            </div>-->
        </div>
    </div>



    <div>
        <div id="category-box-inline">
            <div class="box container-fluid" id="top-selling">
                {% if all_products %}
                <div class="inner-box">
                    <div class="box-header">
                        <span class="item-1">Top Selling</span>
                    </div>
                    <div class="box-body">
                      {% for i in all_products %}
                      {% if i.is_active %}
                      {% with i as i %}
                          {% include "core/card.html" %}
                      {% endwith %}
                      {% endif %}
                      {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>

            {% if all_products %}
            <div class="box container-fluid" id="recently-viewed">
                <div class="inner-box">
                    <div class="box-header">
                        <span class="item-1">Recently Viewed</span>
                    </div>
                    <div class="box-body">
                      <div class="box-body-div">
                        {% for i in all_products|slice:":4" %}
                        <a href="{% url 'product_:product_detail_' i.category.slug i.slug %}" class="">
                          <div class="card">
                              <div class="card-img">
                                  {% for image in i.product_images.all %}
                                  {% if image.is_main %}
                                      <img src="{{ image.images.url }}" alt="{{ image.images.alt_text }}">
                                  {% endif %}
                                  {% endfor %}
                              </div>
                              <div class="card-text">
                                  <strong class="title">{{ i.title|slice:":50" }}</strong>
                              </div>
                          </div>
                        </a>
                        {% endfor %}
                      </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if all_products %}
            <div class="box container-fluid" id="topmost">
                <div class="outside-box">
                    <div class="box-header">
                        <span class="item-1">Top Most With Early Saving</span>
                    </div>
                    <div class="box-body">
                      {% for i in all_products|slice:":4" %}
                      {% if i.is_active %}
                      {% with i as i %}
                          {% include "core/card.html" %}
                      {% endwith %}
                      {% endif %}
                      {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}



