#main-container .main-box .lower-block{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    margin:30px 0;
    margin-top:50px;
}
#main-container .main-box .lower-block .first-box{
    display: flex;
    justify-content: space-between;
    width:65%;
    margin:30px 0;
    background-color:var(--normalwhite);
    border-radius:5px;
    padding:5px;
}
#main-container .main-box .lower-block .first-box .block{
    display: grid;
    grid-template-columns: auto;
    align-content: start;
    width: 48%;
}
#main-container .main-box .lower-block .first-box .block1{
}
#main-container .main-box .lower-block .first-box .block .messages{
    justify-content: space-between;
    align-items: center;
    background-color:var(--bg_alert_and_notifications);
    height:50px;
    width:100%;
    margin:0 0 5px 0;
    border-radius:3px;
    display:none;
}
#main-container .main-box .lower-block .first-box .block .messages .body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    color:#746D69;
    font-weight:bold;
    font-size:13px;
}
#main-container .main-box .lower-block .first-box .block .messages div{
    font-size:25px;
}
/* #main-container .main-box .lower-block .first-box .block2{
    width:38%;
} */
#main-container .main-box .lower-block .first-box .block .head{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    font-weight:bold;
    width:100%;
    height:85px;
    border-bottom:2px solid #BBBCB6;
    margin: 0 0 10px 0;
}
#main-container .main-box .lower-block .first-box .block .head span:nth-child(1){
    font-size:25px;
    margin:10px;
}
#main-container .main-box .lower-block .first-box .block .head span:nth-child(2){
    margin:10px;
}


/* #main-container .main-box .lower-block .first-box .block .card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 0 10px 0;
    width:100%;
}
#main-container .main-box .lower-block .first-box .block .all{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:0 0 10px 0;
    width:100%;
}


#main-container .main-box .lower-block .first-box .block .card .card-wrap{
    display: flex;
    width:98%;
    justify-content: space-between;
    align-items: flex-start;
    border:2px solid #CCCDC6;
    border-radius:5px;
    position:relative;
}
#main-container .main-box .lower-block .first-box .block1 .card .card-wrap{
    height:237px;
}
#main-container .main-box .lower-block .first-box .block1 .card .card-wrap .place1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:90%;
}
#main-container .main-box .lower-block .first-box .block .card .card-wrap .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
    margin:20px 20px 0 10px;
}
#main-container .main-box .lower-block .first-box .block .card .card-wrap .card-body{
    margin:20px 20px 0 0;
}
#main-container .main-box .lower-block .first-box .block2 .card .card-wrap .card-body{
    margin:20px 20px 0 10px;
} */
.other_card-col_container{
    padding: 2px;
}
#main-container .main-box .lower-block .first-box .block .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width:100%; */
    margin-bottom: 7px;
    padding: 15px;
    /* background: var(--milky-white); */
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}
#main-container .main-box .lower-block .first-box .block .removable-card{
}
.card.removable-card .card-wrap .icon2 input{
    display:none;
}

.card-col .other_card-col_container .icon2 i{
    display:none;
}
#main-container .main-box .lower-block .first-box .block .card .card-wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position:relative;
}
#main-container .main-box .lower-block .first-box .block .card .card-body{
    margin-right: 10px;
}
#main-container .main-box .lower-block .block1 .card .card-wrap .place1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:90%;
}
#main-container .main-box .lower-block .block .card .card-wrap .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    margin-right:10px;
}
#main-container .main-box .lower-block .block .card .icon-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    bottom:0;
    left:0;
}
#main-container .main-box .lower-block .block .card .card-wrap .icon:hover{
    color:var(--major);
}
#main-container .main-box .lower-block .block .card .card-wrap .icon{
    margin:10px;
    font-size:17px;
    color:#746D69;
}



#main-container .main-box .lower-block .first-box .block2 .card3{
    display: flex;
    width:98%;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius:5px;
}
#main-container .main-box .lower-block .first-box .block2 .card3 a{
    height:230px;
    width:100%;
    border:1px solid #CCCDC6;
    border-radius:5px;
    font-weight:bold;
}
#main-container .main-box .lower-block .first-box .block2 .card3 a .card-wrap{
    display: flex;
    flex-direction:column;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}
#main-container .main-box .lower-block .first-box .block2 .card3 a .card-wrap i{
    font-size:40px;
    margin-bottom:10px;
    color:#CCCDC6;
}
#main-container .main-box .lower-block .first-box .block2 .card3 a .card-wrap span{
    font-size:20px;
    color:var(--normalblack);
}
#main-container .main-box .lower-block .first-box .block .card .card-wrap .card-body p span:nth-child(1){
    font-weight:bold;
    margin-right:10px;
}
#main-container .main-box .lower-block .first-box .block .card .card-wrap .card-body p:nth-child(1){
    margin-top: 0;
}
#main-container .main-box .lower-block .first-box .block .card .card-wrap .icon2{
    display: flex;
    justify-content: center;
    align-items: center;
}

















@media screen and (max-width:768px){
    #main-container .main-box .lower-block .first-box{
        display: grid;
        justify-content: normal;
        width: 100%;
    }
    #main-container .main-box .lower-block {
        flex-wrap: wrap;
    }
    #main-container .main-box .lower-block .first-box .block{
        width:auto;
    }
    #main-container .main-box .lower-block .first-box .block1{
        margin-bottom:50px;
    }
    #main-container .main-box .lower-block .first-box .block1 .card .card-wrap{
        height:auto;
    }
    #main-container .main-box .lower-block .first-box .block .card .card-wrap .icon2{
        width:5%;
    }
}



